.form {
    background-color: #c8e5e9;
    border-radius: 20px;
    box-sizing: border-box;
    height: 400px;
    padding: 30px;
    width: 320px;
    align-items: center;
  }

 h2 {
    color: rgb(8, 17, 31);
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
  }

  .center {
    margin: auto;
    width: 24%;
    border: 2px solid #c8e5e9;
    border-radius: 6%;
    padding: 20px;
  }

.part3{
    background-color: #c8e5e9;
    border-radius: 30px;
    box-sizing: border-box;
    height: 100px;
    padding: 20px;
    width: 320px;
    text-align: center;
    align-items: center;
}

.inputs{
    font-size: 18px;
    font-weight: 700px;
}

.btnnn mt-3 mb-5n {
    transition-duration: 0.4s;
  }